.phone-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.phone-box {
    display: flex;
    flex-direction: column;
}

.box {
    text-align: center;
    font-size: 50px;
    min-width: 30px;
    background-color: #e6e6e6;
    max-width: 40px;
    border: 1px;
    padding: 5px;
    margin: 5px;
}

.input-box {
    font-size: 50px;
    border: 2px #e6e6e6 solid;
    background-color: white;
    box-sizing: border-box;
}

.input-box:hover {
    border-color: #828282bd;
    cursor: pointer;
}

.input-box:focus {
    border-color: #141414bd;
    cursor: pointer;
}

.sym-box {
    background-color: white;
    margin: 0;
}

.error {
    border-color: red;
}

.error-box {
    font-size: 50px;
    color: red;
}
